<!-- style="overflow: scroll" me sirve cuando algun elemento es demasiado extenso para que quepa en
el tamaño del diseño de la pagina, se soluciona mediante un scroll que desplaza el total de contenidos.
Sin embargo es util cuando se necesita e un parche rapido a esta solucion. Hay maneras
mas profesionales de solucionarlo -->
<ul *ngIf="paginas?.length > 0" class="pagination">

<!-- paginador.number == 0 es igual a paginador.first -->
  <li [ngClass]="paginador.first? 'disabled page-item' : 'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page',0]">Primera</a>
  </li>

  <li class="page-item" *ngIf="paginador.number > 0">
    <a class="page-link" [routerLink]="['/clientes/page', paginador.number-1]">&laquo;</a>
  </li>

  <li class="page-item" *ngFor="let pagina of paginas" [ngClass]="pagina-1 == paginador.number?'active':''">
    <span class="page-link" *ngIf="pagina-1 == paginador.number">{{pagina}}</span>
    <a *ngIf="pagina-1 != paginador.number" class="page-link" [routerLink]="['/clientes/page', pagina-1]">{{pagina}}</a>
  </li>

  <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1">
    <a class="page-link" [routerLink]="['/clientes/page', paginador.number+1]">&raquo;</a>
  </li>

<!-- paginador.number == paginador.totalPages-1 es igual a paginador.last -->
  <li [ngClass]="paginador.last? 'disabled page-item' : 'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page',paginador.totalPages-1]">Ultima</a>
  </li>

</ul>
