<div class="card bg-dark text-white">
    <div class="card-header">
      {{ titulo }}
    </div>
    <div class="card-body">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">Button</button>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
          <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
        </div>
      </div>

    </div>
</div>